@import url('https://geek-cdn.github.io/css/common.css');
@import url('https://josem-amatriain.github.io/weekly-geekly/css/style.min.css');



.page-header-logo-container {
  max-width: 600px;
  width: 80%;
  height: 160px;
  background-image: url('../img/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.page img {
	width: 100%;
}

@media (min-width: 1000px) {
	p {
		text-align: center;
	}

	.page img {
		width: 50%;
	}
}
